name: Continuous Integration
on:
  push:
    branches:
      - main
    paths:
    - 'actions/**'
    - '.github/workflows/**'
    - 'Dockerfile'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    name: Build Action Server image and upgrade Rasa Enterprise deployment
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - id: action_server
      name: Build an action server with a custom actions
      uses: ./
      # Full list of parameters: https://github.com/RasaHQ/action-server-gha/tree/master#input-arguments
      with:
        docker_image_name: 'keshabmanni/demo-action-server'
        docker_image_tag: 'latest'
        docker_registry_login: ${{ secrets.DOCKER_HUB_LOGIN }}
        docker_registry_password: ${{ secrets.DOCKER_HUB_PASSWORD }}
        requirements_file: 'requirements.txt'
        # More details about github context:
        # https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#github-context

    
    # # This step shows only the example of output parameter usage
    # # and it's not focused on deployment itself.
    # - name: "Upgrade a Rasa Action Server deployment"
    #   run: |
    #     helm upgrade --install --reuse-values \
    #       --set image.name=${{ steps.action_server.outputs.docker_image_name }} \
    #       --set image.tag=${{ steps.action_server.outputs.docker_image_tag }} rasa-action-server rasa/rasa-action-server